:root {
  --var_corPrincipal: brown;
  --var_Bold: 700;
}

header {
  background-color: var(--var_corPrincipal);
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.logo a {
  color: white;
  text-transform: capitalize;
  cursor: pointer;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: var(--var_Bold);
}

.lista {
  list-style-type: none;
  display: flex;
}

.lista li {
  /* background-color: white; */
  margin-left: 30px;
  /* padding: 5px 15px; */
  border-radius: 7px;
}

.lista li a {
  color: var(--var_corPrincipal);
  padding: 5px 15px;
  font-weight: var(--var_Bold);
  text-transform: capitalize;
  background-color: white;
  text-decoration: none;
  border-radius: 5px;
}

.lista li a:hover,
.lista li a.ativo {
  background-color: black;
  color: white;
}

.menu-icon {
  font-size: 2rem;
  color: white;
  display: none;
}

@media screen and (max-width: 600px) {
  .logo a {
    font-size: 2rem;
  }

  .menu-icon {
    display: block;
  }

  .nav {
    position: relative;
  }

  .lista {
    flex-direction: column;
    position: absolute;
    width: 100%;
    right: 0;
    align-items: center;
    top: 15%;
    background-color: rgba(165, 42, 42, 0.3);
    padding: 30px;
    transition: all 0.5s ease-in-out;
  }

  .lista li:first-child {
    margin-bottom: 30px;
  }
  .lista li a {
    display: block;
    width: 100%;
    margin: auto;
  }

  .lista.fechar {
    right: -100%;
    transition: all 0.5s ease-in-out;
  }
  .fas.fa-times {
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out;
  }
  .fas.fa-bars {
    transform: rotate(180deg);
    transition: all 0.3s ease-in-out;
  }
} ;
